
.contenedor-padre{
  outline: 1px solid red;
  padding: 10px;
  height:100%;
  width: 100%;

}



.table-container{
   margin-top: 20px;
}
.table{
  background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
}



.list th {
  padding: 0 15px;
}




